doctype 5
html
    head
        title Clearstream
        link(rel='stylesheet', href='http://bootswatch.com/cosmo/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="/components/socket.io-client/dist/socket.io.min.js")
        script(src="/javascripts/index.js")
        
    body
        section#clearstream-app
            .header#header
              h1 CLEARSTREAM
              h3 filter out the noise
            #description
              nav.description-nav
                h5.description-title
                  span WHAT'S HOT RIGHT NOW?
            section#main
              button.btn.btn-inverse#refresh refresh
              ol#links
                each link, index in data
                  li.link
                    p 
                    span#link-title <a href = #{link.url.href} target=_blank>#{link.article.title}</a>
                    span#link-hostname  #{link.url.hostname}
                    p#link-info
                      span.link-footer-text last mentioned on
                      span.link-footer-value #{link.created_at}
                      span.separator |
                      span.link-footer-text mentions:
                      span.link-footer-value #{link.freq}
            footer#footer
              span#new-links #{data.length}         